.clearfix {
    clear: both;
    content: " ";
}
.background{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.border {
    border: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}
.header {
    margin: 0 auto;
}
.header-link{
    text-decoration: none;
    color: white;
}
.header-link:hover{
    color: #3CB878;
}
.header-name{
    display: inline-block;
    margin-top: 20px;
    margin-left: 250px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    margin-right: 935px;
}
.header-links{
    text-decoration: none;
}
.header-imgs{
    display: inline-block;
    margin-top: 8px;
}
.header-img1{
    background-image: url("../img/navimg1.png");
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-right: 28px;
}
.header-img1:hover{
    background-image: url("../img/navimg1green.png");
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-right: 28px;
}
.header-img2{
    background-image: url("../img/navimg2.png");
    height: 20px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-right: 28px;
}
.header-img2:hover{
    background-image: url("../img/navimg2green.png");
    height: 20px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-right: 28px;
}
.header-img3{
    background-image: url("../img/navimg3.png");
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-right: 28px;
}
.header-img3:hover{
    background-image: url("../img/navimg3green.png");
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-right: 28px;
}
.login-panel{
    display: inline-block;
    text-align: right;
    font-size: 14px;

}
.login{
    word-spacing: 3px;
    color: white;
    margin-top: 10px;
    padding-left: 28px;

}
.login-link{
    word-spacing: 2px;
    color: #3CB878;
    text-decoration: none;
}
.login-link:hover{
    text-decoration: underline;
}
.big-border{
    border: 1px solid white;
    background-color: white;
    margin-left: 700px;
    margin-top: 64px;
    border-radius: 10px;
}
.sign-up-menu {
    display: inline-block;
    text-align: center;
}
.square {
    border: 1px solid #3CB878;
    width: 18px;
    height: 18px;
    background: #3CB878;
    margin-top: 1px;
    float: left;
}
.sign-up-text{
    margin-top: 29px;
    margin-left: 60px;
    font-size: 20px;
    margin-bottom: 14px;
    color: #505050;
}
.sign-up-link{
    margin-left: 205px;
    margin-right: 59px;
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
}
.sign-up-link:hover{
    text-decoration: underline;
}
.login-imgs{

}
.fb-btn{
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    background-color: #305DB8;
    width: 158px;
    height: 47px;
    color: white;
    border-radius: 4px;
    border: 1px solid #000066;
    background-position: 20px;
}
.fb-btn:hover {
    background-color: #264B96;
    color: #D4DBEA;
}
.g\+-btn{
    background-image: url("../img/google+.png");
    background-repeat: no-repeat;
    background-color: #DF4A32;
    width: 158px;
    height: 47px;
    color: white;
    border-radius: 4px;
    border: 1px solid #000066;
    background-position: 15px;

}
.g\+-btn:hover{
    background-color: #C3412C;
    color: #D4DBEA;
}
.or{
    position: relative;
    margin-top: 40px;
}
.border-or{
    border: 1px solid white;
    width: 100px;
    height: 50px;
    background-color: white;

}
.mini-text{
    float: left;
    margin-left: 165px;
    margin-top: -20px;
}
hr{
    width: 320px;
}

.logging-lines{
    padding-bottom: 17px;
}
.sign-in-field{
    width: 323px;
    height: 47px;
}
.agree{
    font-size: 14px;
    text-align: center;
    margin-right: 135px;
}
.agree-link{
    text-decoration: none;
    color: #3CB878;
}
.agree-link:hover{
    text-decoration: underline;
}
.create-account-btn{
    margin-top: 45px;
    margin-bottom: 49px;
    background-color: #3CB878;
    width: 322px;
    height: 47px;
    color: white;
    border-radius: 4px;
    border: 1px solid #000066;
    background-position: 15px;
}
.create-account-btn:hover{
    background-color: #329A65;
    color: #C8E4D6;
}

